/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */
.form-section {
  margin-bottom: 48px;
}
.form-section--last {
  margin-bottom: 20px;
}

.form-section__heading {
  margin-bottom: 32px;
}

.form-section__content-heading {
  margin-top: 48px;
}

.form-control--color {
  background-color: #10cfbd;
  color: white;
  border: 2px solid white;
}

input:placeholder-shown {
  border: 2px solid white;
  color: white;
}

.form-control--color::placeholder {
  color: white;
}

.control-label {
  font-weight: 600;
}
